nav{
    height: fit-content;
    width: 100%;
    background-color: rgb(53, 115, 178);
}

#nav-links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
    margin-right: 20px;
   height: 50px;
}

nav a{
    display: inline-block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;

}
nav a:hover{
    text-shadow: 0px 0px 10px white;
    transition: 0.3s;
}

.hero h1{
    font-size: 3.5rem;
    color: #222;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 10px solid rgb(53, 115, 178);
    width: 0;
    animation: typing 1.7s steps(30, end) forwards, blink 0.7s step-end 1.7s infinite;
}
@keyframes typing{
    from{width: 0}
    to {width: 72%;}
}
@keyframes blink{
    50% {border-color: transparent;}
}